{
    "simulation": "trucks",
    "dataCenter": "qa",
    "companyUid": <ALMS Engineering Company ID>,
    "credentials": {
        "username": <AV USERNAME>,
        "password": <AV PASSWORD>
    }
}
